- var blockIcon1 = {title: 'High Quality', description: 'crafted from top materials', img: './assets/images/body/icons/icon1.svg'}
- var blockIcon2 = {title: 'Warrany Protection', description: 'Over 2 years', img: './assets/images/body/icons/icon2.svg'}
- var blockIcon3 = {title: 'Free Shipping', description: 'Order over 150 $', img: './assets/images/body/icons/icon3.svg'}
- var blockIcon4 = {title: '24 / 7 Support', description: 'Dedicated support', img: './assets/images/body/icons/icon4.svg'}
- var allBlocks = [blockIcon1, blockIcon2, blockIcon3, blockIcon4]

- var product1 = {title: 'Syltherine', description: 'Stylish cafe chair', cost: 'Rp 2.500.000', img: './assets/images/body/ourProducts/image 1.svg', circle: './assets/images/body/ourProducts/discount30.png'}
- var product2 = {title: 'Leviosa', description: 'Stylish cafe chair', cost: 'Rp 2.500.000', img: './assets/images/body/ourProducts/image 2.svg', circle: ''}
- var product3 = {title: 'Lolito', description: 'Luxury big sofa', cost: 'Rp 7.000.000', img: './assets/images/body/ourProducts/image 3.svg', circle: './assets/images/body/ourProducts/discount50.png'}
- var product4 = {title: 'Respira', description: 'Minimalist fan', cost: 'Rp 500.000', img: './assets/images/body/ourProducts/image 4.svg', circle: './assets/images/body/ourProducts/new.png'}
- var product5 = {title: 'Grifo', description: 'Night lamp', cost: 'Rp 1.500.000', img: './assets/images/body/ourProducts/image 5.svg', circle: ''}
- var product6 = {title: 'Muggo', description: 'Small mug', cost: 'Rp 150.000', img: './assets/images/body/ourProducts/image 6.svg', circle: './assets/images/body/ourProducts/new.png'}
- var product7 = {title: 'Pingky', description: 'Cute bed set', cost: 'Rp 7.000.000', img: './assets/images/body/ourProducts/image 7.svg', circle: './assets/images/body/ourProducts/discount50.png'}
- var product8 = {title: 'Potty', description: 'Minimalist flower pot', cost: 'Rp 500.000', img: './assets/images/body/ourProducts/image 8.svg', circle: './assets/images/body/ourProducts/new.png'}
- var allProducts = [product1, product2, product3, product4, product5, product6, product7, product8]