section.funiroFurniture
	p Share your setup with
	div.funiroFurniture__title
		h2 #FuniroFurniture
	div.funiroFurniture__images
		div.funiroFurniture__images__bl
			div.funiroFurniture__images__blt
				img(src="./assets/images/body/FuniroFurniture/imgbl1.svg", alt="")
				img.mod_big(src="./assets/images/body/FuniroFurniture/imgbl2.svg", alt="")
			div.funiroFurniture__images__blb
				img(src="./assets/images/body/FuniroFurniture/imgbl3.svg", alt="")
				img.mod_big(src="./assets/images/body/FuniroFurniture/imgbl4.svg", alt="")
		div.funiroFurniture__images__bc
			img(src="./assets/images/body/FuniroFurniture/imgbm1.jpg", alt="")
		div.funiroFurniture__images__br
			div.funiroFurniture__images__brt
				img(src="./assets/images/body/FuniroFurniture/imgbr1.svg", alt="")
				img(src="./assets/images/body/FuniroFurniture/imgbr2.svg", alt="")
			div.funiroFurniture__images__brb
				img(src="./assets/images/body/FuniroFurniture/imgbr3.svg", alt="")
				img(src="./assets/images/body/FuniroFurniture/imgbr4.svg", alt="")

	