section.footer 
	div.footer__information
		ul 
			li
				h2 Funiro 
				p Worldwide furniture store since 
					|2020. We sell over 1000+ branded 
					|products on our website
			li 
				p 
					img(src="./assets/images/footer/map.png", alt="")
					|Sawojajar Malang, Indonesia
			li 
				p 	
					img(src="./assets/images/footer/phone.png", alt="")
					|+6289 456 3455
			li 
				p
					a(href="#") www.funiro.com
		ul 
			li
				h2 Menu
				p Products
			li 
				p Rooms 
			li 
				p Inspirations
			li 
				p About Us
			li 
				p Terms & Policy
		ul 
			li
				h2 Account
				p My Account
			li 
				p Checkout 
			li 
				p My Cart
			li 
				p My catalog
		ul 
			li
				h2 Stay Connected 
				p Facebook
			li 
				p Instagram 
			li 
				p Twitter
		ul 
			li
				h2 Stay Updated 
				form(action="#")
					input(type="text" placeholder="Enter your email")
					button(type="submit") 
						img(src="./assets/images/footer/telegram.png", alt="") 
