include ../components/mixins
section.footer 
	div.footer__information
		each text in footerData 
			+footerUl(text.title, text.text1, text.text) 
		ul
			li
				h2 Stay Updated 
				form(action="#")
					input(type="text" placeholder="Enter your email")
					button(type="submit") 
						img(src="./assets/images/footer/telegram.png", alt="") 