section.header
	div.substrate
	nav.menu
		div.text
			h2 Funiro.
			a(href="#") Products
				img(src="./assets/images/header/menu/arrow.svg", alt="icon - arrow")
			a(href="#") Rooms
				img(src="./assets/images/header/menu/arrow.svg", alt="icon - arrow")
			a(href="#") Inspirations   
		div.search
			img(src="./assets/images/header/menu/search.svg", alt="icon - search")
			input(type="text" placeholder="Search for minimalist chair")
		div.icons
			img.icon__header(src="./assets/images/header/menu/heart.svg", alt="icon - heart")
			img.icon__header(src="./assets/images/header/menu/box.svg", alt="icon - box")
			img(src="./assets/images/header/menu/photo.svg", alt="icon - photo")
	div.slider
		div.slider__header
			div.slider__navigation
				div.navigation__point.active__slide
					div
				div.navigation__point
					div
				div.navigation__point
					div
				div.navigation__point
					div
			div.slider__button
				div.button.prew
					div
				div.button.next
					div
		div.slides
			div.slide
				div.slide__block
					img(src="./assets/images/header/slider/sl_1.svg", alt="")
			div.slide
				div.slide__block
					img(src="./assets/images/header/slider/sl_2.jpg", alt="")
			div.slide
				div.slide__block
					img(src="./assets/images/header/slider/sl_3.svg", alt="")
	div.main__card
		h1 High-Quality Furniture Just For You 
		p Our furniture is made from 
			|selected and best quality 
			|materials that are suitable 
			|for your dream home
		div
			a(href="#") Shop Now 
	dix.card__description 
		h1 Bohauss 
		p Luxury big sofa 2-seat
		div.card__description__footer
			h2 Rp 17.000.000
			img(src="./assets/images/header/arrow_card.png", alt="")