doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Document
        link(rel='stylesheet' href='./assets/styles/style.css')
    body
        main.wrapper
            include sections/header
            include sections/bodyIcons
            include sections/bodyOurproducts
            include sections/bodyRooms
            include sections/bodyTipsTricks
            include sections/bodyFuniroFurniture


                