.our__products {
  h1 {
    text-align: center;
    margin-bottom: 32px;
    color: $colorForTextDark;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.1px;
    font-family: "Gilroy700", sans-serif;
  }
}

.block__cards__products {
  padding: 0 102px 0 102px;
  @include flex-row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  .card__product {
    position: relative;
    margin-bottom: 32px;
    @media screen and (max-width: 1350px) {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
  @media screen and (max-width: 1350px) {
    justify-content: center;
  }
}

.card__product_discription {
  padding: 14px 30px 20px 15px;
  background-color: $colorForCardOurProducts;
  :nth-child(1) {
    padding-bottom: 8px;
    color: $colorForTextDark;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.1px;
    font-family: "Gilroy600", sans-serif;
  }
  p {
    padding-bottom: 8px;
    color: $colorForPinMainCard;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    font-family: "Gilroy500", sans-serif;
  }
  :nth-child(3) {
    padding-bottom: 8px;
    color: $colorForTextDark;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.1px;
    font-family: "Gilroy600", sans-serif;
  }
}

.pop__up {
  @include flex-row;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $colorForPopUp;
  visibility: hidden;
}

.card__product:hover > div {
  visibility: visible;
}

.pop__up_elements {
  a {
    padding: 12px 58px;
    background-color: $white;
    color: $orange;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    font-family: "Gilroy600", sans-serif;
  }
}

.pop__up_elements_icons_text {
  margin-top: 20px;
  @include flex-row;
  align-items: center;
  justify-content: space-between;
  .pop__up_elements_icons_text {
    @include flex-row;
    align-items: center;
    justify-content: center;
    .pop__up_element_icon {
      img {
        margin-right: 11px;
      }
    }
    .pop__up_element_text {
      color: $white;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.1px;
      font-family: "Gilroy600", sans-serif;
    }
  }
}

.circle__for__product {
  position: absolute;
  top: 25px;
  right: 25px;
}

.our__products_button {
  @include flex-row;
  align-items: center;
  justify-content: center;
  margin-bottom: 45px;
  a {
    padding: 12px 82px;
    color: $orange;
    border: 1px solid $orange;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    font-family: "Gilroy600", sans-serif;
  }
}

.our__products_drid {
  @include flex-column;
}

.block__cards__products_grid {
  margin: 32px 102px;
  display: grid;
  grid-template-areas:
    "grid_element_1 grid_element_2 grid_element_3 grid_element_4"
    "grid_element_5 grid_element_6 grid_element_7 grid_element_8";
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  @media screen and (max-width: 1355px) {
    margin: 32px auto;
    grid-template-areas:
      "grid_element_1 grid_element_2"
      "grid_element_3 grid_element_4"
      "grid_element_5 grid_element_6"
      "grid_element_7 grid_element_8";
    @media screen and (max-width: 810px) {
      grid-template-areas:
        "grid_element_1"
        "grid_element_2"
        "grid_element_3"
        "grid_element_4"
        "grid_element_5"
        "grid_element_6"
        "grid_element_7"
        "grid_element_8";
    }
  }
}

.grid_element {
  width: 285px;
}

.grid_element_1 {
  grid-area: grid_element_1;
}

.grid_element_2 {
  grid-area: grid_element_2;
}

.grid_element_3 {
  grid-area: grid_element_3;
}

.grid_element_4 {
  grid-area: grid_element_4;
}

.grid_element_5 {
  grid-area: grid_element_5;
}

.grid_element_6 {
  grid-area: grid_element_6;
}

.grid_element_7 {
  grid-area: grid_element_7;
}

.grid_element_8 {
  grid-area: grid_element_8;
}
