/*=====COLORS=====*/
$white: #ffffff;
$colorForTextDark: #3a3a3a;
$bgColor: #fcf8f3;
$colorForTextgrey: #616161;
$colorForSubstrate: #f9f1e7;
$orange: #e89f71;
$lightOrange: #f7decd;
$opacityColorWhite: rgba(255, 255, 255, 0.72);
$colorForPinMainCard: #898989;
$colorForNavigationPoint: #d8d8d8;
